{% extends  "base.html"%}
{% block body_attrs %} onload="manual_laser_onload();" {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% load static %}
<script src="{% static 'js/manual_laser.js' %}"></script>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-1 nopadding"></div>
        <div class="col-5 nopadding">
            <div id="scroll">
            <canvas id="cutLineCanvas"></canvas>
            </div>
        </div>

        <div class="col-2 nopadding">
            <div>
                <br>
                <br>
            </div>
            <div style="text-align: center;">
                <small id="LaserPower_text" class="form-text text-muted">Laser power</small>
                <input type="text" id="LasertextInput" value="50" maxlength="3" size="3" style="text-align: center;"> %
            </div>
            <div>
                <input type="range" class=""slider  min="0" max="100" value="50" id="LaserPower" onchange="updateTextInput(this.value);">
            </div>
        </div>

        <div class="col-3">
            <form>
                <div class="form-group">
                <label for="labelOperatorName">Operator Name</label>
                <input type="text" class="form-control" id="inputOperatorName" aria-describedby="operatorInfo" placeholder="Operator Name">
                </div>
            </form>
            <form>
                <div class="form-group">
                <label for="lablePlantSpecies">Plant Species</label>
                <input type="text" class="form-control" id="inputPlantSpecies" aria-describedby="speciesInfo" placeholder="Plant Species">
                </div>
            </form>
            <form>
                <div class="form-group">
                <label for="lablePlantSpecies">Clone ID</label>
                <input type="text" class="form-control" id="inputCloneId" aria-describedby="cloneId" placeholder="Clone ID">
                </div>
            </form>
            <form>
                <div class="form-group">
                <label for="lablePlantSpecies">Customer-Info</label>
                <input type="text" class="form-control" id="inputCustomerInfo" aria-describedby="customerInfo" placeholder="Customer">
                </div>
            </form>
            <form method="post" id="placeholder_cookie">{% csrf_token %}</form>
            <br>
            <button type="button"  id="getimage" class="btn btn-primary btn-lg btn-block" onclick="get_image()">Get Image</button>
            <br>
            <button type="button"  id="resetimage" class="btn btn-primary btn-lg btn-block" onclick="reset_image()">Reset</button>
            <br>
            <button type="button"  id="cutimage" class="btn btn-primary btn-lg btn-block" onclick="cut_image()">Cut</button>
        </div>
        <div class="col-1 nopadding"></div>
</div>
{% endblock %}