input[type="range"] {
   position: absolute;
   top: 40%;
   width: 100%;
   height: auto;
   transform: rotate(270deg);
}

#cutLineCanvas {
    border: 1px solid;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
